@font-face {
  font-family: "Anton";
  src: url("/public/fonts/Anton-Regular.woff2") format("woff2"),
    url("/public/fonts/Anton-Regular.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Jua";
  src: url("/public/fonts/Jua-Regular.woff2") format("woff2"),
    url("/public/fonts/Jua-Regular.woff") format("woff");
  font-display: block;
}